<section class="dashboard-main">
  <h2> <%= @user.first_name %>'s Dashboard </h2>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <hr>
  <h4>Account Details</h4>
  <ul>
    <li><%= @user.first_name  %> <%= @user.last_name %></li>
    <li><%= @user.email%></li>
    <li>Status: <%= active_user? ? 'Active' : 'Inactive'%></li>
  </ul>

  <% if active_user? %>
    <%= link_to "Send an Invite", '/invite', class: "btn btn-primary mb1 bg-teal" %>

    <%= render partial: 'partials/dashboard/bookmarks', locals: {user: @user, has_bookmarks: @user.has_bookmarks?} %>
    <%= render partial: 'partials/dashboard/friends', locals: {user: @user, has_friends: @user.has_friends?} %>
    <hr>
    <h4>GitHub</h4>
    <% if @user.token %>
      <section class='github-info'>
        <hr>
        <%= render partial: 'partials/dashboard/repos', locals: {facade: @user} %>
        <%= render partial: 'partials/dashboard/follows', locals: {github_users: @user.followers, type: 'follower', title: 'Followers'} %>
        <%= render partial: 'partials/dashboard/follows', locals: {github_users: @user.following, type: 'following', title: 'Following'} %>
      </section>
    <% else %>
      <p><%= link_to "Connect to GitHub", :github_auth %></p>
    <% end %>
  <% else %>
    <h3 style="color:red">This account has not yet been activated. Please check your email.</h3>
  <% end %>
</section>
