<!DOCTYPE html>
<html>
  <head>
    <title>TuringTutorials</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <link href="https://unpkg.com/basscss@7.1.1/css/basscss.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <%= render 'partials/nav' %>

    <main class="px4">
      <div class="flash-message">

    <div>
      <% flash.each do |key, msg| %>
    <div class="<%= flash_class(key) %>">
      <%= msg %>
      <% end %>
    </div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <style type="text/css">
      .alert-success{
    color: green;
    }
    .alert-danger{
    color: red;
    }
  </style>
      <%= yield %>
  </main>

  </body>
</html>
